.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr ;
}

.dialogsItems{
    border-right: 1px solid #333333;
}

.dialog{
    margin: 0 0 15px 0;
}

.dialog.active{}

.messages{
    padding: 0 0 0 15px;
}

.message{
    margin: 0 0 15px 0;
}

